<%= form_for @conversation do |f|%>
  <%= f.hidden_field :origin_conversation, value: @conversation.id %>
  <%= f.hidden_field :conversation_type, value: "2" %>
  <%= f.fields_for @conversation_user do |ff| %>
    <div class="field">
      <%= ff.collection_select(:user_id, @users, :id, :name, {}, {:multiple => true, class: "ui fluid  selection dropdown", id: "myMulti-" + @conversation.id.to_s}) %>
    </div>
  <% end %>
  <%= f.submit "Done" , class: "update-gr-chat-btn", id: "update_conversation", data: {wait: 'Please wait...', disable_with: false} %>
<%end%>
