<% provide :title, "your account" %>
<body class="page-has-left-panels page-has-right-panels">

<!-- Header-BP -->
<%= render "shared/header" %>
<!-- ... end Responsive Header-BP -->

<div class="header-spacer header-spacer-small"></div>

<!-- Main Header Account -->

<div class="main-header">
  <div class="content-bg-wrap bg-account"></div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
        <div class="main-header-content">
          <h1><%= I18n.t "create_group" %></h1>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag("forums-bottom.png", class: "img-bottom", alt: "friends") %>
</div>

<!-- ... end Main Header Account -->

<!-- Your Account Personal Information -->

<div class="container">
  <div class="row">
    <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title"><%= I18n.t "favourite_group_info" %></h6>
        </div>
        <div class="ui-block-content">


          <!-- Form Favorite Page Information -->

          <%= form_for @group do |f| %>
            <div class="row">
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group label-floating">
                  <%= f.label :name, I18n.t("group_name"), class: "control-label" %>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name",
                    class: "form-control", placeholder: "" %>
                </div>

                <div class="form-group label-floating">
                  <%= f.label :phone, I18n.t("your_phone"),
                    class: "control-label" %>
                  <%= f.number_field :phone, autofocus: true,
                    autocomplete: "phone", class: "form-control",
                    placeholder: "" %>
                </div>

                <div class="form-group label-floating">
                  <%= f.label :description, I18n.t("group_description"),
                    class: "control-label" %>
                  <%= f.text_area :description, autofocus: true,
                    autocomplete: "description", class: "form-control",
                    placeholder: "" %>
                </div>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">

                <div class="form-group label-floating">
                  <%= f.label :email, I18n.t("your_email"),
                    class: "control-label" %>
                  <%= f.email_field :email, autofocus: true,
                    autocomplete: "email", class: "form-control",
                    placeholder: "" %>
                </div>

                <div class="form-group label-floating">
                  <%= f.label :website, I18n.t("your_website"),
                    class: "control-label" %>
                  <%= f.text_field :website, autofocus: true,
                    autocomplete: "website", class: "form-control",
                    placeholder: "" %>
                </div>

                <div class="form-group label-floating">
                  <%= f.label :address, I18n.t("address"),
                    class: "control-label" %>
                  <%= f.text_area :address, autofocus: true,
                    autocomplete: "address", class: "form-control",
                    placeholder: "" %>
                </div>
              </div>
              <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group with-icon label-floating">
                  <%= f.label :facebook, I18n.t("facebook_account"),
                    class: "control-label" %>
                  <%= f.text_field :facebook, autofocus: true,
                    autocomplete: "facebook", class: "form-control",
                    placeholder: "" %>
                  <i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
                </div>
                <div class="form-group with-icon label-floating">
                  <%= f.label :twitter, I18n.t("twitter_account"),
                    class: "control-label" %>
                  <%= f.text_field :twitter, autofocus: true,
                    autocomplete: "twitter", class: "form-control",
                    placeholder: "" %>
                  <i class="fab fa-twitter c-twitter" aria-hidden="true"></i>
                </div>
                <div class="form-group with-icon label-floating">
                  <%= f.label :instagram, I18n.t("instagram_account"),
                    class: "control-label" %>
                  <%= f.text_field :instagram, autofocus: true,
                    autocomplete: "instagram", class: "form-control",
                    placeholder: "" %>
                  <i class="fab fa-instagram c-instagram" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="description-toggle">
                  <div class="description-toggle-content">
                    <div class="h6">Group private</div>
                    <p>
                      Turn on to make your group private, people can't search
                      it by search engine
                    </p>
                  </div>
                  <div class="togglebutton">
                    <label>
                      <%= f.check_box :privacy %>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                <%= f.submit I18n.t("create_group"),
                  class: "btn btn-primary btn-lg full-width" %>
              </div>
            </div>
          <% end %>

          <!-- ... end Form Favorite Page Information -->
        </div>
      </div>
    </div>
    <!-- Your Profile  -->
    <%= render "shared/your_profile" %>
    <!-- ... end Your Profile  -->
  </div>
</div>

<!-- ... end Your Account Personal Information -->

<!-- Window-popup-CHAT for responsive min-width: 768px -->
<%= render "shared/popup_chat" %>
<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

<%= render "shared/back_to_top" %>
</body>
