<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <div class="top-header-thumb">
            <%= image_tag("top-header2.jpg", alt: "nature") %>
            <div class="top-header-author">
              <div class="author-content" style="margin-bottom: 50px;">
                <div class="h3 author-name"><%= @group.name %></div>
                <div class="country">
                  <% if @group.privacy %>
                    <%= I18n.t "private_group" %>
                  <% else %>
                    <%= I18n.t "public_group" %>
                  <% end %>
                    |  Thành viên: ...
                </div>
              </div>
            </div>
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col col-xl-8 m-auto col-lg-8 col-md-12">
                <ul class="profile-menu">
                  <li>
                    <%= link_to "#{I18n.t "timeline"}", "#" %>
                  </li>
                  <li>
                    <%= link_to "#{I18n.t "about"}", "#" %>
                  </li>
                  <li>
                    <%= link_to "#{I18n.t "photos"}", "#" %>
                  </li>
                  <li>
                    <%= link_to "#{I18n.t "videos"}", "#" %>
                  </li>
                  <li>
                    <%= link_to "#{I18n.t "statistics"}", "#" %>
                  </li>
                </ul>
              </div>
            </div>

            <div class="control-block-button">
              <a href="#" class="btn btn-control bg-primary">
                <svg class="olymp-star-icon"><use xlink:href="/assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
              </a>

              <a href="#" class="btn btn-control bg-purple">
                <svg class="olymp-chat---messages-icon"><use xlink:href="/assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
